<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Mars Weather</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="gauges">
    <button mat-fab (click)="getValues()">Get Values</button>
    <div class="temp">
      <h2>Temperature</h2>
      <p>{{ values }}}</p>
    </div>
    <div class="airpressure">
      <h2>Air pressure</h2>
    </div>
    <div class="sol">
      <h2>Sol</h2>
    </div>
    <div class="wind">
      <h2>Wind speed</h2>
    </div>
  </div>
  <div class="marsFrame">
    <iframe src='https://mars.nasa.gov/layout/embed/image/insightweather/' width='1500' height='900' scrolling='no'
      frameborder='0'></iframe>
  </div>

</div>

<router-outlet></router-outlet>